<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>957741825657-5shojosbrpocugu42dd2e9sgpv3acobh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957741825657-5shojosbrpocugu42dd2e9sgpv3acobh</string>
	<key>API_KEY</key>
	<string>AIzaSyDKaQABA_NKCqcMHa_09OxtAsRQVYTu5NI</string>
	<key>GCM_SENDER_ID</key>
	<string>957741825657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Tongsak.Streetsafe</string>
	<key>PROJECT_ID</key>
	<string>safestreets-631ae</string>
	<key>STORAGE_BUCKET</key>
	<string>safestreets-631ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957741825657:ios:cc76acf289d3da1f</string>
	<key>DATABASE_URL</key>
	<string>https://safestreets-631ae.firebaseio.com</string>
</dict>
</plist>